[Unit]
Description=Redirects
Documentation=https://webhippie.github.io/redirects/

Requires=network.target
After=network.target

[Service]
Type=simple
User=redirects
Group=redirects
EnvironmentFile=-/etc/default/redirects
EnvironmentFile=-/etc/sysconfig/redirects
ExecStart=/usr/bin/redirects server $REDIRECTS_ARGS
WorkingDirectory=/var/lib/redirects
Restart=always
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
